$screen-sm-min: 639px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xlg-min: 1191px;

// Large tablets and desktops
$screen-xl-min: 1200px;
