$screen-xs-min: 321px;

$screen-sm-min: 639px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xlg-min: 1191px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//Colors
$white: #fff;
$gray: #777;
$light-gray: #999;
$medium-gray: #555;
$dark-gray: #333;
$blue: #4d638c;
$yellow: #fdf1ce;