.footer {
  @include md {
    margin-top: 0;
  }
  border-top: 1px solid #f0f0f0;
  margin: 7rem 0 0;
  padding-top: 2rem;
  &__item {
    @include xl {
      flex-direction: column;
    }
    margin-bottom: 4rem;
    justify-content: space-between;
    p {
      @include xl {
        padding: 0.5rem 0;
      }
      color: #777;
      font-size: 15px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.2px;
    }
    & > div {
      @include lg {
        justify-content: center;
      }
      align-items: center;
      display: flex;
    }
  }
}

.social-icons {
  display: flex;
  & li > a {
    margin-right: 1.5rem;
    transform: scale(1.1);
    color: #777;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    vertical-align: middle;
    & > i {
      &:hover {
        color: #000;
        transform: scale(1.1);
      }
    }
  }
  &__ld > a {
    position: relative;
  }
  &__ld > a > i {
    position: absolute;
    bottom: 1.55px;
  }
}

.company-name {
  justify-content: center;
}

.email-address {
  justify-content: flex-end;
}
