@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

.form-control {
    @include xl {
        width: 100%;
    }
    //width: 420px;
    &:nth-of-type(2) {
        @include xl {
            margin-left: initial;
        }
        margin-left: 0.75rem;
    }
    border: 1px solid #f0f0f0;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    height: 50px;
    border-radius: 4px;
    color: $medium-gray;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &:hover {
        border-color: $gray;
    }
    &::placeholder {
        color: $light-gray;
        font-size: 14px;
    }
    &--spacer {
        @include xl {
            margin-left: initial;
        }
        margin-left: 0.75rem;
    }
}

.select {
    background-position: right 0.5rem center;
}

.textarea {
    height: 6.4375rem;
    width: 100%;
}

.button {
    background: #222;
    border-radius: 100px;
    border: none;
    color: $white;
    font-weight: 400;
    box-shadow: none;
    font-weight: bold;
    width: 206px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    transition: all 0.4s ease-in-out;
    &:hover {
        background: darken(#222, 5%);;
    }
    &:focus {
        background: darken(#222, 10%);;
    }
    &--sent {
        background-color: #77DD77;
        &:focus {
            background: darken(#77DD77, 10%);;
        }
        &:hover {
            background: darken(#77DD77, 5%);;
        }
    }
    &--not-sent {
        background-color: #d3260b;
        width: 380px;
        &:focus {
            background: darken(#d3260b, 10%);;
        }
        &:hover {
            background: darken(#d3260b, 5%);;
        }
    }
    
}

.button[disabled] {
    background-color: #77DD77;
    opacity: 0.75;
    &:focus {
        background: darken(#77DD77, 10%);;
    }
    &:hover {
        background: darken(#77DD77, 5%);;
    }
}

.error {
    display: none;
}

.contact__main {
    margin-bottom: 8rem;
    & > div {
        @include md {
            justify-content: center;
        }
    }
    input,
    select,
    textarea {
        @include md {
            width: 98%;
        }
    }
    .button {
        @include md {
            width: 50%;
        }
    }
}

.animation {
    position: relative;
    overflow: hidden;
}

.paper-plane {
    @include sm {
        display: none;
    }
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
}

.form-container {
    display: flex;
    position: relative;
    &:nth-child(1){
        padding-right: 12px;
    }
    span {
        color: #d3260b;
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        font-weight: bold;
        position: absolute;
        bottom: -5px;
        left: 22px;
    }
}