.header {
  margin-top: 4rem;
  justify-content: center;

  h1 {
    font-weight: bold;
  }

  &__content {
    justify-content: center;
    margin-top: 8rem;
    &--center {
      text-align: center;
    }
    hr {
      border-bottom: 1px solid #eee;
      width: 82px;
      margin-top: 32px;
    }
  }
}
