.header {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    &__content {
        @include sm {
            margin-top: 4rem;
        }
        justify-content: center;
        margin-top: 8rem;
        &--center {
            text-align: center;
        }
    }
}

.header__title {
    color: $medium-gray;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.logo {
    @include md {
        margin-left: 1rem;
        h1 {
            font-size: 3rem;
        }
    }
    @include sm {
        margin-left: 0;
    }
}
