.header {
  display: flex;
  margin-top: 4rem;
  justify-content: center;

  /* h1 {
    font-weight: bold;
  }*/

  &__content {
    justify-content: center;
    margin-top: 8rem;
    &--center {
      text-align: center;
    }
  }
}

.header__title {
  color: #555;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
