@font-face {
    font-family: "Work Sans";
    src: url("./font/WorkSans-Light.otf");
}

@font-face {
    font-family: "WorkSans-ExtraLight";
    src: url("./font/WorkSans-ExtraLight.otf");
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("./font/WorkSans-Regular.otf");
}

body {
    font-family: "WorkSans-ExtraLight", sans-serif;
    a {
        color: $blue;
        letter-spacing: 1px;
    }
    p {
        color: $gray;
        font-size: 15px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.2px;
    }
}
.body-width {
    @include xl {
        width: 100%;
    }
    width: 76rem;
}

.body {
    &--center {
        justify-content: center;
    }
}

h1 {
    font-family: "Work Sans";
    font-size: 62px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: "Work Sans";
    font-weight: 300;
}
h3 {
    font-size: 26px;
    font-family: "WorkSans-Regular", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.5px;
    color: $dark-gray;
}

.short-hr {
    border-bottom: 1px solid #eee;
    width: 82px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.github-link {
    font-size: 10px;
    padding-top: 2px;
    &:hover {
        color: darken($color: #1468a0, $amount: 10);
    }
}